* {
  margin: 0;
  padding: 0;
}
/* start navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f2c59;
  color: #eadbc8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.logo h1 {
  font-size: 24px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}
.menu-toggle input {
  position: absolute;
  width: 35px;
  height: 25px;
  left: -7px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f5812f;
}
/* end navbar */

/* start main */
.main {
  background-color: #f8f0e5;
  color: #0f2c59;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  text-align: center;
}
img {
  margin-top: 10px;
}

.main-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 18px;
  padding: 50px;
}
/* end main */

/* start footer */
footer {
  background-color: #dac0a3;
  height: 100vh;
  color: #0f2c59;
}
/* end footer */

/* responsif */
@media screen and (max-width: 768px) {
  nav {
    margin-right: 10px;
  }
  .menu-toggle {
    display: flex;
  }

  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 999;
    background-color: #0f2c59;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }
  .navbar ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}
