* {
  margin: 0;
  padding: 0;
}
/* start navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f2c59;
  color: #eadbc8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.logo h1 {
  font-size: 24px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}
.menu-toggle input {
  position: absolute;
  width: 35px;
  height: 25px;
  left: -7px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f5812f;
}
/* end navbar */

/* start main */
.main {
  background-color: #f8f0e5;
  color: #0f2c59;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  text-align: center;
}
img {
  margin-top: 10px;
}

.main-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 18px;
  padding: 50px;
}
/* end main */

/* start content */
.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.section-title {
  text-align: center;
}

.content-item {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.content-item img {
  max-width: 100%;
  height: auto;
}

.content-item h3 {
  margin-top: 10px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
}
/* end content */

/* start contact */
section.contact{
    background-color: #0f2c59;
  padding:30px;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 10px;
  }
}
/* end contact */

footer {
  background-color: #dac0a3;
  color: #0f2c59;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.address {
  font-size: 14px;
  margin-bottom: 10px;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navbar-button a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #0f2c59;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar-button a:hover {
  background-color: #0f2c59;
  color: #fff;
}
/* end footer */

/* responsif */
@media screen and (max-width: 768px) {
  nav {
    margin-right: 10px;
  }
  .menu-toggle {
    display: flex;
  }

  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 999;
    background-color: #0f2c59;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }
  .navbar ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .footer-content {
    text-align: center;
  }

  .address {
    margin-bottom: 20px;
  }
}
